/***** menu CSS *****/
@media print {
/*A l'impression on cache le menu, marche au moins pour IE, Moz et Opéra.*/
	.menu, .ssmenu {
		visibility:hidden;
	}
}

.menu, .ssmenu
{
	/* Il est important de laisser une largeur, au cas où le Javascript soit désactivé.
margin aussi */
	font-size: 12px;
	font-weight: bold;
	border: 1px solid #FFFFFF;
	color: white;
	width: 150px;
	padding: 1px;
	margin: 1em;
}
.menu
{
	text-align: center;
	height: 35px;
	background:url(bg.gif) repeat-x;
}
.ssmenu {
	background:#004455;
	border-color:#ABCDEF;
/* aller pour faire joli sur IE, un petit effet de dégradé !
	Pour voir d'autres effets :
	http://msdn.microsoft.com/workshop/samples/author/dhtml/DXTidemo/DXTidemo.htm
	
	Par exemple :
	transparence à 25% = opacité à 75%:
		FILTER: progid:DXImageTransform.Microsoft.Alpha( style=0,opacity=75);
	"Glow" :
		FILTER: progid:DXImageTransform.Microsoft.Glow(color=#ffdead,strength=5);
	Ombre en bas à droite, 5 px :
		FILTER: progid:DXImageTransform.Microsoft.Shadow(direction=135,color=#ff8c00,strength=5);
	*/
	
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr='#D2DEE5',EndColorStr='white');
}

.menu span, .ssmenu span {
/* pour cacher les ; en fin de <li>, ce qui permet aux synthèse vocales de prendre une
	pause dans l'élocution */
	display:none;
}

.ssmenu ul, .ssmenu li {
/* Les items (les <li>) des sous-menus, notamment pour enlever les puces des liste */
	padding:0;
	margin:0;
	list-style-type:none;
}

.menu a, .ssmenu a, .menu a:visited, .ssmenu a:visited
{
	/* Les liens qui ne sont pas sous le curseur.
	Un width:100% fait planter Mozilla, sans le width:100% c'est IE et Opera...
	La combinaison aucun width et height:100% marche sur tous, donc ne pas toucher */
	font-family: MS Sans Serif, arial, sans-serif, Verdana;
	text-decoration: none;
	color: #000000;
	padding: 2px 1px; /* Ne pas modifier le block */
	display: block; /*	Un width:100% fait planter Mozilla, sans le width:100% c'est IE et Opera... La combinaison
	aucun width et height:100% marche sur tous, donc ne pas toucher ces 2 lignes */ /*	height:100%;
	margin:0px;*/
	margin: 0px;
	width: 100%;
	voice-family: "\"}\"";
	voice-family: inherit;

}
html > body .menu a, html > body .menu a:visited, html > body .menu a:hover, html > body .menu a:active, html > body .ssmenu a, html > body .ssmenu a:visited, html > body .ssmenu a:hover, html > body .ssmenu a:active
{
	width: auto;
}

.ssmenu ul:hover, .ssmenu a:hover, .ssmenu a:focus, .menu a:hover, .menu a:focus, .menu a:over
{
	/* Les liens sous le curseur.
	On change les couleurs du texte et de fond, et on enlève le soulignement.
	*/
	text-decoration: none;
	/* filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#2289AA,endColorStr=#ABCDEF); */
	height: 30px;
	background:url(bg_a.gif) repeat-x;
}

.ssmenu img.hr {
	margin-top:1px;
	margin-bottom:1px;
	margin-left:0;
	margin-right:0;
	width:100%;
	height:1px;
	display:block;
	border:0px;
}
/*
Bref... pour résumer, ce qu'il y a à modifier à la base, c'est :
- couleurs, police, bordure et largeur des menu et ssmenu.
- l'effet spécial IE pour les ssmenu
- police et couleurs des liens "non survolés" et "survolés".
*/